:root {
  --sm-space: 8px;
  --md-space: 16px;
  --lg-space: 24px;
  --xl-space: 32px;
  --xxl-space: 40px;

  --preview-border-primary: #1e8fff48;
  --preview-button-primary: #1e90ff;
  --preview-text-primary: #ffffff;
  --auth-border-primary: #1e8fff48;
  --auth-button-primary: #1e90ff;
  --auth-text-primary: #ffffff;
  --nav-background-primary: #292929;
  --footer-background-primary: #292929;
  --logo-text-primary: #ffffff;
  --plain: #ffffff;
  --scrollbar-background: #f1f1f1;
  --scrollbar-thumb-primary: #888;
  --scrollbar-thumb-hover: #555;
  --general-text-primary: #32323232;
  --button-radius: 5px;
  --sign-button-primary: #f1f1f1;
  --sign-button-border: #333333;
  --form-border: #999999;
  --form-background: #929292;
  --infinite-glow-effect: greenyellow;
  --infinite-glow-effect2: #373737;
  --infinite-glow-color: #7a7a7a;
  --black: #000;
  --active-card-background: hsla(0, 0%, 16%, 0.446);
}

/*
playing with these colors
#1e90ff 
#1f8fff48
*/

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: calc(var(--sm-space) + 2px);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row; /* It's row by default but it's better to force it in case it's not. */
  justify-content: space-between; /* Gives space between nav logo and auth/preview buttons */
  list-style: none;
  font-family: "Inter", sans-serif;
  padding: var(--sm-space);
  height: auto;
}

.nav__menu {
  background-color: var(--nav-background-primary);
}

.auth__container { /* The user auth and preview buttons become side to side */
  display: flex;
  gap: var(--xl-space);
  flex-direction: row;
}

li {
  list-style: none; /* removes all list styles bullet points from all li elements */
}

li.button {
  padding: var(--sm-space);
  border-radius: var(--button-radius);
  transition: box-shadow ease-in 0.2s;

  &:hover {
    cursor: pointer;
  } 
}

li.preview {
  /* Played with a bit of box-shadow form here https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
  border: 3px solid var(--auth-border-primary);
  background-color: var(--auth-button-primary);
  color: var(--auth-text-primary);
  box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%),
  0 0 0 2px var(--auth-border-primary),
  0 0 0 transparent;
  
  &:hover {
    box-shadow: none;
    background-color: var(--preview-button-primary);
    color: var(--preview-text-primary);
  }
}

li.auth {
  border: 3px solid var(--auth-border-primary);
  background-color: var(--auth-button-primary);
  color: var(--auth-text-primary);
  box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%),
  0 0 0 2px var(--auth-border-primary),
  0 0 0 transparent;

   &:hover {
    box-shadow: none;
    background-color: var(--preview-button-primary);
    color: var(--preview-text-primary);
  }
}

.logo__container {
  box-shadow: 0 0 1px 0 var(--plain);
}

.logo__short, .logo__long {
  color: var(--logo-text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto 0 auto;
  text-align: center;
  min-height: calc(100vh - 156px); /* subtracted height + nav to push footer to bottom */
}

.header__links {
  display: none;
}

.header__bottom {
  margin-bottom: 50px;
}

/*Placed this a bit higher since it's the parent of headerImage__wrapper so I don't get confused */
.header__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  align-items: stretch;
  gap: var(--md-space);
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  position: relative;
}

.header__image {
  flex: 1;
  flex-basis: 200px;
  transition: flex-basis 0.4s ease;
  position: relative;
  overflow: hidden;
}

.header__image:hover {
  flex-basis: 400px;
  cursor: pointer;
}

.headerImage__data {
  position: absolute;
  left: 0;
  bottom: var(--md-space);
}

.headerImage__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

h1 {
  font-size: calc(var(--xxl-space) + var(--sm-space));
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--sm-space);
  align-items: flex-start;
  justify-content: center;
  place-items: center;
  text-align: center;
  width: min(400px, 90vw);
  min-width: 200px;
  height: 400px;
  border-radius: var(--md-space);
  transition: all ease 0.5;
  box-shadow: 0 0 2px 0 var(--form-border);
  background-color: var(--form-background);
  color: var(--plain);
}

.signin__form {
  font-weight: 700;
}

.signup__form {
  padding: 100px 0;
  font-weight: 700;
}

fieldset {
  border: none;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form__field {
  display: flex;
  border: none;
  flex-direction: column;
}

.form__input {
  padding: calc(var(--sm-space) - 4px);
  border: none;
  margin-top: var(--sm-space);
  border-radius: calc(var(--sm-space) - 3px);
}

.form__button {
  border: 1px solid var(--sign-button-border);
  border-radius: calc(var(--sm-space) - 3px);
  background-color: var(--sign-button-primary);
  align-self: flex-start;
  padding: var(--sm-space);
  margin-top: var(--sm-space);
  border: none;
}

.auth__button {
  border: 1px solid var(--sign-button-border);
  border-radius: calc(var(--sm-space) - 3px);
  background-color: var(--sign-button-primary);
  align-self: flex-start;
  padding: var(--sm-space);
  /* to center the form login/signup button */
  margin: auto;
}

.password__container {
  display: flex;
  width: 100%;
  /* 
  REMOVED - Since icon is now nested in password container, no need for the padding
  Since SVG eye icon is 23px, i pushed the password container left by the same amount :) 
  */
  justify-content: center;
  flex-direction: row;
  /* fixing the password reveal icon to the element carrying this class */
  position: relative;
  /* hiding the password reveal icon from overflowing this container */
  overflow: hidden;
}

.reveal__button {
  display: flex;
  align-self: flex-start;
  margin-top: var(--sm-space);
  /* transform: translateX(-23px); */
  border-top-right-radius: calc(var(--sm-space) - 3px);
  border-bottom-right-radius: calc(var(--sm-space) - 3px);
  z-index: 9999;
  /* ties the reveal icon to the password container */
  position: absolute;
  right: 0;
  top: 0;
}

footer {
  display: flex;
  padding: var(--xxl-space);
  justify-content: center;
  background-color: var(--nav-background-primary);
  color: var(--plain);
  text-align: center;
}

.infinite__loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 4rem;
  aspect-ratio: 1;
  font-size: 1.5rem;
  color: var(--infinite-glow-color);
  background-color: var(--infinite-glow-effect2);
  border-radius: 50%;
  transition: color 0.5s ease-in-out;
}

.infinite__loader::after {
  position: absolute;
  z-index: -1;
  content: "";
  inset: -3px;
  border-radius: inherit;

  background: conic-gradient(var(--infinite-glow-effect var(--fill), transparent(var(--fill))));
  transition: --fill 0.6s ease-in-out;
}

.infinite__loader:hover {
  color: var(--infinite-glow-effect);
  --fill: 100%;
}

.infinite__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  min-height: 100vh;
  z-index: 1;
}

.infiniteImage__container {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  position: relative;
  height: 500px;
  margin-bottom: calc(var(--sm-space) + 2px);
  overflow: hidden;
}

.infinteImage {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
}

.infiniteImage__author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  bottom: var(--sm-space);
  left: var(--sm-space);
  color: var(--plain);
}

.author__thumbnail {
  width: 53px;
  border-radius: 50%;
  margin-top: calc(var(--sm-space) * 2.5);
  margin-left: var(--sm-space);
}

.searchForm__container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchForm__input {
  display: flex;
  width: 60%;
  max-width: 500px;
  border: none;
  padding: calc(var(--sm-space) * 3);
  box-shadow: 0px 0px 1px 3px var(--form-background);
  border-radius: 5px;
}

.searchButton {
  padding: calc(var(--sm-space) * 2);
  background-color: transparent;
  width: 20%;
  max-width: 100px;
  color: var(--black);
  margin-top: var(--sm-space);
}

.searchButton:hover {
  background-color: var(--black);
  color: var(--plain);
}

.activeCard__wrapper {
  /* display: flex;
  flex-direction: column;
  background-color: var(--active-card-background);
  filter: blur(5px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.activeCard__background {
  width: 100vw;
  height: 400vh;
  background-color: var(--active-card-background);
  filter: blur(5px);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.activeCard__content {
  /* LOL - 
  flex to align content
  justify&alien self to position it center
  flex to match image width behind
  max-width so it can shrink below that
  z index to be above overlay
  the top, bottom, etc are to move it while at fixed position
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  flex: 25%;
  max-width: 30%;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--plain);
  border-radius: var(--sm-space);
  height: 100%;
}

.activeCardImage__container {
  height: 300px;
}

.activeCardImage__author {
  width: 100%;
  height: 100%;
}

.activeCardAuthor__thumbnail {
  border-radius: 50%;
  width: calc(var(--lg-space) - 8);
}

.authorHeadshot {
  display: flex;
  flex-direction: column;
  gap: var(--sm-space);
  justify-content: flex-start;
  align-items: flex-start;
  margin: calc(var(--sm-space) + 2px);
  font-weight: 500;
}

.authorBio, .authorDescription, .authorTag {
  display: flex;
  flex-direction: column;
  margin: calc(var(--sm-space) + 2px);
}

.authorBio__title, .authorDescription__title, .authorTag__title {
  font-family: "Inter", sans-serif, Arial, Helvetica;
  font-size: var(--md-space);
  font-weight: 700;
}

.comment__button {
  &:hover {
    cursor: pointer;
  }
}

.activeCard__interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: var(--sm-space);
}

@media (max-width: 1000px) {
  .infiniteImage__container {
    flex: 50%;
    max-width: 50%;
  }

  .activeCard__content {
    flex: 50%;
    width: 50%;
    max-width: 50%;
  }
}

@media (max-width: 650px) {
  
  .auth__container {
    display: none;
  }
  
  .header__content {
    display: flex;
    flex-direction: column;
    gap: var(--xxl-space);
  }

  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--md-space);
  }

  .infiniteImage__container {
    flex: 100%;
    max-width: 100%;
  }

  .searchForm__input {
    width: 90%;
    min-width: 100px;
  }
}

.like__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(var(--sm-space) - 5px);

  &:hover {
    cursor: pointer;
  }
}

.like__counter {
  font-family: "Inter", sans-serif, Arial, Helvetica;
  font-size: var(--md-space);
  font-weight: 500;
}

@media (max-width: 500px) {
  .activeCard__content {
    flex: 60%;
    width: 60%;
    max-width: 60%;
  }
}

@media (max-width: 450px) {
  .searchButton {
    width: 150px;
    max-width: 80px;
  }
}

@media (max-width: 270px) {

  h1 {
    font-size: var(--xxl-space);
  }

  .logo__long {
    display: none;
  }

  .header__links {
    display: flex;
    flex-direction: column;
  }
}