:root {
  --sm-space: 8px;
  --md-space: 16px;
  --lg-space: 24px;
  --xl-space: 32px;
  --xxl-space: 40px;

  --preview-border-primary: #1e8fff48;
  --preview-button-primary: #1e90ff;
  --preview-text-primary: #ffffff;
  --auth-border-primary: #1e8fff48;
  --auth-button-primary: #1e90ff;
  --auth-text-primary: #ffffff;
  --nav-background-primary: #292929;
  --footer-background-primary: #292929;
  --logo-text-primary: #ffffff;
  --plain: #ffffff;
  --scrollbar-background: #f1f1f1;
  --scrollbar-thumb-primary: #888;
  --scrollbar-thumb-hover: #555;
  --general-text-primary: #32323232;
  --button-radius: 5px;
  --sign-button-primary: #f1f1f1;
  --sign-button-border: #333333;
  --form-border: #999999;
  --form-background: #333333;
}

/*
playing with these colors
#1e90ff 
#1f8fff48
*/

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: calc(var(--sm-space) + 2px);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

body {
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-direction: row; /* It's row by default but it's better to force it in case it's not. */
  justify-content: space-between; /* Gives space between nav logo and auth/preview buttons */
  list-style: none;
  font-family: "Inter", sans-serif;
  padding: var(--sm-space);
  height: auto;
}

.nav__menu {
  background-color: var(--nav-background-primary);
}

.auth__container { /* The user auth and preview buttons become side to side */
  display: flex;
  gap: var(--xl-space);
  flex-direction: row;
}

li {
  list-style: none; /* removes all list styles bullet points from all li elements */
}

li.button {
  padding: var(--sm-space);
  border-radius: var(--button-radius);
  transition: box-shadow ease-in 0.2s;

  &:hover {
    cursor: pointer;
  } 
}

li.preview {
  /* Played with a bit of box-shadow form here https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
  border: 3px solid var(--auth-border-primary);
  background-color: var(--auth-button-primary);
  color: var(--auth-text-primary);
  box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%),
  0 0 0 2px var(--auth-border-primary),
  0 0 0 transparent;
  
  &:hover {
    box-shadow: none;
    background-color: var(--preview-button-primary);
    color: var(--preview-text-primary);
  }
}

li.auth {
  border: 3px solid var(--auth-border-primary);
  background-color: var(--auth-button-primary);
  color: var(--auth-text-primary);
  box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%),
  0 0 0 2px var(--auth-border-primary),
  0 0 0 transparent;

   &:hover {
    box-shadow: none;
    background-color: var(--preview-button-primary);
    color: var(--preview-text-primary);
  }
}

.logo__container {
  box-shadow: 0 0 1px 0 var(--plain);
}

.logo__short, .logo__long {
  color: var(--logo-text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  margin: 100px auto 0 auto;
  text-align: center;
  min-height: calc(100vh - 156px); /* subtracted height + nav to push footer to bottom */
}

.header__links {
  display: none;
}

/*Placed this a bit higher since it's the parent of headerImage__wrapper so I don't get confused */
.header__images {
  
}

.headerImage__wrapper {

}


.header__image {

}

.image__icon {
  width: calc(var(--lg-space) + 18px);
  position: absolute;
  z-index: 9999;
  right: 10px;
  bottom: 10px;
}

h1 {
  font-size: calc(var(--xxl-space) + var(--sm-space));
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--sm-space);
  align-items: flex-start;
  justify-content: center;
  place-items: center;
  text-align: center;
  padding: 100px;
  border-radius: var(--md-space);
  transition: all ease 0.5;
  box-shadow: 0 0 2px 0 var(--form-border);
  background-color: var(--form-background);
  color: var(--plain);
}

fieldset {
  border: none;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form__field {
  display: flex;
  border: none;
  flex-direction: column;
}

.form__input, .username {
  padding: calc(var(--sm-space) - 4px);
  border: none;
  margin-top: var(--sm-space);
  border-radius: calc(var(--sm-space) - 3px);
}

.form__button {
  border: 1px solid var(--sign-button-border);
  border-radius: calc(var(--sm-space) - 3px);
  background-color: var(--sign-button-primary);
  align-self: flex-start;
  padding: var(--sm-space);
  margin-top: var(--sm-space);
}

.auth__button {
  border: 1px solid var(--sign-button-border);
  border-radius: calc(var(--sm-space) - 3px);
  background-color: var(--sign-button-primary);
  align-self: flex-start;
  padding: var(--sm-space);
  /* to center the form login/signup button */
  margin: auto;
}

.password__container {
  display: flex;
  width: 100%;
  /* Since SVG eye icon is 23px, i pushed the password container left by the same amount :) */
  padding-left: 23px;
  justify-content: center;
  flex-direction: row;
  /* fixing the password reveal icon to the element carrying this class */
  position: relative;
  /* hiding the password reveal icon from overflowing this container */
  overflow: hidden;
}

.reveal__button {
  display: flex;
  align-self: flex-start;
  margin-top: var(--sm-space);
  /* transform: translateX(-23px); */
  border-top-right-radius: calc(var(--sm-space) - 3px);
  border-bottom-right-radius: calc(var(--sm-space) - 3px);
  /* z-index: 9999; */
  /* ties the reveal icon to the password container */
  position: absolute;
  right: 0;
  top: 0;
}

footer {
  display: flex;
  padding: var(--xxl-space);
  justify-content: center;
  background-color: var(--nav-background-primary);
  color: var(--plain);
}

@media (max-width: 600px) {
  
  .auth__container {
    display: none;
  }
  
  .header__content {
    display: flex;
    flex-direction: column;
    gap: var(--xxl-space);
  }

  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--md-space);
  }
}

@media (max-width: 270px) {

  h1 {
    font-size: var(--xxl-space);
  }

  .logo__long {
    display: none;
  }

  .header__links {
    display: flex;
    flex-direction: column;
  }
}